<header  ng-if="nada != 'nada'" class="header">
    <nav class="navbar navbar-default">
        <a href="index2.html" class="logo" style="  float: left;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  padding: 0 10px;
  font-family: 'FCsistemasFont';
  font-weight: 500;
  height: 50px;
  display: block;">
            EL CAMPITO
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
            <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-user"></i>
                            <span>{{usuario.nombre}}<i class="caret"></i></span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header bg-light-blue">
                                <!--<a href="<?=getPath().'/pages/'?>Perfil.php"><img src="<?=getPath();?>/files/avatars/<?=$usuarioLogueado->getAvatar();?>" class="/img-circle" style="overflow:hidden;-webkit-border-radius:70px;-moz-border-radius:70px;border-radius:70px;width:100px;height:100px;" alt="User Image" /></a>-->
                                <p>
                                    <strong>{{usuario.nombre}}</strong>
                                    <small>{{usuario.perfil}}</small>
                                </p>
                            </li>
                            <li class="user-footer">
                                <div class="pull-right">
                                    <a  ng-Click="Deslogearse()" class="btn btn-default btn-flat">Desloguearse</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </nav>
</header>
<aside class="content-header" ng-if="nada != 'nada'" style=";width: 150px; float:left">
    <!-- sidebar: style can be found in sidebar.less -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container" style="font-family: FCsistemasFont; float: left; width: auto">
            <div id="sidebar-wrapper" class="sidebar-toggle">
                <ul class="sidebar-nav">
                    <li ng-if="usuario.perfil == 'administrador'  || usuario.perfil == 'empleado'">
                        <a ui-sref="altas">Alta Usuarios</a>
                    </li>
                    <li ng-if="usuario.perfil == 'administrador'">
                        <a ui-sref="altaLocales">Alta Locales</a>
                    </li>
                    <li ng-if="usuario.perfil == 'empleado'">
                        <a ui-sref="altaInmuebles">Alta Inmubles</a>
                    </li>
                    <li>
                        <a ui-sref="grilla">Grilla</a>
                    </li>
                    <li>
                        <a ui-sref="#item3">Estadisticas</a>
                    </li>
                    <li>
                        <a ui-sref="#item3">Maps</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</aside>
<div ng-if="usuario.perfil == 'administrador'  || usuario.perfil == 'empleado'" style="width: 400px;margin: 0 auto; border-style: solid;
    border-color: white; border-radius: 25px;; text-align : center">
    <form id="FormIngreso" class="form-style-4" name="FormIngreso" enctype="multipart/form-data" >
        <h3 style="color: white;">ALTA DE LOCALES</h3>
        <input type="text"  placeholder="Ingrese direccion" ng-model="user.direccion" required><br>
        <input type="text"  placeholder="Ingrese nombre" ng-model="user.nombre" required><br>
        Empleado 1:
        <select ng-model="user.id_empleado1">
            <option ng-repeat="option in empleados" ng-model="user.id_empleado1" value="{{option.id}}">{{option.nombre}}</option>
        </select><br>
        Empleado 2:
        <select ng-model="user.id_empleado2">
            <option ng-repeat="option in empleados"  value="{{option.id}}">{{option.nombre}}</option>
        </select><br>
        Encargado:
        <select ng-model="user.id_encargado">
            <option ng-repeat="option in encargados" ng-model="user.id_encargado" value="{{option.id}}">{{option.nombre}}</option>
        </select>
        <input type="button" value="Alta de Local" ng-disabled="FormIngreso.$invalid" ng-Click="AltaLocal()" >
    </form>
</div>